@model CBHY.OAuth2.AuthorizetionServer.Models.AccountAuthorizeModel
@{
    ViewBag.Title = "Authorize";
}

<h2>Authorize</h2>
@using (Html.BeginForm("AuthorizeResponse", "OAuth", FormMethod.Post))
{ 
    @Html.Hidden("IsApproved", true)
    @Html.Hidden("client_id", Model.AuthorizationRequest.ClientIdentifier)
    @Html.Hidden("redirect_uri", Model.AuthorizationRequest.Callback)
    @Html.Hidden("state", DotNetOpenAuth.OAuth2.OAuthUtilities.JoinScopes(Model.AuthorizationRequest.Scope))
    @Html.Hidden("response_type", Model.AuthorizationRequest.ResponseType == DotNetOpenAuth.OAuth2.Messages.EndUserAuthorizationResponseType.AccessToken ? "token" : "code")
    <input type="submit" value="确认授权" />
}

